.Home .landing {
  text-align: center;
}

.Home .logo {
  animation: Home-logo-flip infinite 10s linear;
  height: 80px;
}

.Home header {
  background-color: #999;
  box-sizing: content-box;
  height: 150px;
  padding: 20px;
  color: #000;
}

.Home .intro {
  font-size: large;
  margin: 1em 0;
}

@keyframes Home-logo-flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}